body {
    font-family: Helvetica, Arial, sans-serif;
}

div#header {
    background: #808080;
    padding: 0.5em;
    color: white;
    font-size: 27;
}

nav#searchform {
    background: #40E0D0;
    padding: 0.2em;
    height: 45px;
    color: white;
}

nav#searchform input {
    margin-right: 2em;
}

nav#videolist {
    float: left;
    width: 250px;
    padding: 0.5em;
    background-color: #E6E6E6;
}

nav#videolist ol {
    height: 80%;
    overflow:hidden;
    overflow-y:scroll;
    -webkit-padding-start: 25px;
}

nav#videolist li:hover{
    color: #40E0D0;
}

section#defaultContent {
    float: left;
    padding: 1em;
    display: block;
}

section#video {
    display: none;
}

form{
    padding-bottom: 0px;
}

/*button*/

.button {
    display: inline-block;
    border-radius: 8px;
    background-color: #808080;
    border: none;
    color: white;
    text-align: center;
    font-size: 13px;
    padding: 10px;
    width: 100px;
    transition: all 0.5s;
    cursor: pointer;
    margin: 5px 5px 5px 2em;
}

.button span {
    cursor: pointer;
    display: inline-block;
    position: relative;
    transition: 0.5s;
}

.button span:after {
    content: ">>";
    position: absolute;
    opacity: 0;
    top: 0;
    right: -15px;
    transition: 0.5s;
}

.button:hover span {
    padding-right: 20px;
}

.button:hover span:after {
    opacity: 1;
    right: 0;
}

/*query*/

#query {
    width: 150px;
    box-sizing: border-box;
    border: 2px solid #ccc; 
    border-radius: 4px;
    font-size: 16px;    
    background-color: white;
    background-image: url('searchicon.png');
    background-size: 20px 20px;
    background-repeat: no-repeat;
    padding: 5px 20px;
    -webkit-transition: width 0.4s ease-in-out;
    transition: width 0.4s ease-in-out;
}

#query:focus {
    width: 15%;
}

#select {
    font-size: 17;
    background-color: white;
}




